#projectCreatorHolder{
    background-color: white;
    height: 80px;
    background-color: rgb(30, 40, 31);
    padding: 15px;
    border-radius: 5px;
    
}

#projectCreatorHolder:hover{
    background-color: rgb(44, 52, 49);
}

#projectCreatorHolderTop{
    display: flex;
    height: 32px;
    align-items: center;
    margin-bottom: 10px;
}

#projectCreatorHolderInput{
    height: 32px;
    border-radius: 5px;
    width: 100%;
    margin-left: 5px;
    font-size: 18px;
    padding-left: 5px;
}

#projectCreatorHolderAddButton{
    color: white;
    background-color: rgb(60, 160, 102);
    border: none;
    width: 75px;
    height: 27px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#projectCreatorHolderCancelButton{
    color: white;
    background-color: rgb(160, 60, 68);
    border: none;
    width: 75px;
    height: 27px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
}

#projectCreatorHolderButtons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

#projectCreatorHolderImage{
    width: 28px;
    height: 24px;
    background-image: url('../imgs/menu.svg');
    background-size : cover;
    
}