#projectCreatorHolder{
    background-color: white;
    height: 80px;
    background-color: rgb(30, 40, 31);
    padding: 15px;
    border-radius: 5px;
    
}

#projectCreatorHolder:hover{
    background-color: rgb(44, 52, 49);
}

#projectCreatorHolderTop{
    display: flex;
    height: 32px;
    align-items: center;
    margin-bottom: 10px;
}

#projectCreatorHolderInput{
    height: 32px;
    border-radius: 5px;
    width: 100%;
    margin-left: 5px;
    font-size: 18px;
    padding-left: 5px;
}

.addButton{
    color: white;
    background-color: rgb(60, 160, 102);
    border: none;
    width: 75px;
    height: 27px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.cancelButton{
    color: white;
    background-color: rgb(160, 60, 68);
    border: none;
    width: 75px;
    height: 27px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
}

#projectCreatorHolderButtons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

#projectCreatorHolderImage{
    width: 28px;
    height: 24px;
    background-image: url('../imgs/menu.svg');
    background-size : cover;
    
}

.projectHolder{
    display: flex;
    align-items: center;
    padding-left: 16px;
    height: 50px;
    cursor: pointer;
}

.projectImg{
    height: 24px;
    width: 24px;
    background-image: url('../imgs/menu.svg');
    background-size : cover;
    margin-right: 5px;
}

.projectText{
    font-size: 20px;
    margin-bottom: 5px;
    width: 260px;
}

.projectHolder:hover{
    background-color: rgb(44, 52, 49);
}

.projectEditButtonsContainer {
    position: absolute;
    height: 90px;
    width: 90px;
    background-color: aliceblue;
    border: 1px dotted black;
    opacity: 0;
    bottom: 110px;
    right: 50px;
    z-index: 2;
    padding: 5px;
    background-color: #1f2e23;
  
  }
  


.deleteButton:hover,.renameButton:hover{
    background-color: #1e281f;
}


.taskRenameButton:hover,.taskDeleteButton:hover{
    background-color: rgb(44, 52, 49);
}

.renameButton,.deleteButton,.taskRenameButton,.taskDeleteButton{
    height: 45px;
    width: 100%;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-color: #1f2e23;
    cursor: pointer;
}




.taskEditsButtonHolder{
    position: relative;
    height: 90px;
    width: 90px;
    background-color: aliceblue;
    border: 1px dotted black;
    z-index: 2;
    padding: 5px;
    background-color: #1f2e23;
    right: 75px;
    top: -105px;
    margin-right: 200px;
}


#addTaskContainer{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    margin-top: 25px;
}

#addTaskContainer:hover{
    background-color: #1e281f;
}

#newTaskPlus{
    height: 25px;
    width: 25px;
    background-image: url('../imgs/dark-mode-plus.svg');
    background-size : cover;
    margin-left: 25px;
}

#newTaskText{
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 2px;
}


#formContainer{
    background-color: #1e281f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

#formTitle,#detailsTitle,#dateTitle{
    color: white;
    font-size: 18px;
    
}

#formTitleInput,#detailsInput,#dateInput{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

#detailsInput{
    height: 65px;
    resize: none;
}

#newTaskButtonHolder{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
}

.taskContainer{
    background-color: #1f2e23;
    border: 2px solid white;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding-top: 5px;
    cursor: pointer;
}

.taskContainer > div{
    color:white;
    
}

.checkBox{
    height: 20px;
    width: 20px;
    border-radius: 150px;
    border: 2px solid white;
    margin-left: 5px;
}

.taskContainerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.taskTitle{
    margin-left: 10px;
    min-width: 75px;
    width: 50%;
    font-size: 20px;
}


.taskEdit{
    height: 24px;
    width: 24px;
    background-size: cover;
    
}

.taskDate{
    border: 2px solid white;
    padding: 1px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 5px;

}

.taskDescription{
    margin-left: 40px;
    font-size: 15px;
}

.taskButtons{
    height: 25px;
    width: 49px;
    display: flex;
    margin-left: 5px;
}

.taskFavorite{
    height: 24px;
    width: 24px;
    background-size: cover;
}

.taskContainerTopRight{
    display: flex;
}

.taskContainerTopLeft{
    display: flex;
}

